SPRING__PROFILES__ACTIVE=

# SOCIAL LOGIN
SPRING__SECURITY__OAUTH2__CLIENT__REGISTRATION__GITHUB__CLIENT_ID=REQUIRED_FOR_FEATURE
SPRING__SECURITY__OAUTH2__CLIENT__REGISTRATION__GITHUB__CLIENT_SECRET=

# CUSTOM
CUSTOM__JWT__SECRET_KEY=REQUIRED_FOR_FEATURE
CUSTOM__JWT__EXPIRATION_MINUTES=REQUIRED_FOR_START
CUSTOM__BOOK__FETCH__API_KEYS=